body {
    background-color: #f5e8d9;
    color: #0f0f0f;
    font-family: 'Cinzel', serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
header {
    background-color: #0f4c81;
    background-image: url('tomi-ronin-texture.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px 20px;
    color: #fdf6ec;
}
footer {
    background: #0f4c81;
    padding: 30px;
    font-size: 1rem;
    color: #fdf6ec;
}